.game{
  margin-top: 20px;
}
.leftboard {
  width: 25%;
  height: 100%;
  float: left;
  background-color: Silver;
}

.rightboard {
  float: left;
  display: inline-block;
}

.name {
  font-size: 24px;
  font-family: "Helvetica";
  text-align: center;
  border-radius: 5px;
  margin: 5px 25%;
}
.current-player{
  font-weight: bold;
}
.waiting {
  text-align: center;
}

.start {
  text-align: center;
  margin: 5px 25%;
}
.center {
  text-align: center;
}

.color-picker{
  margin: 5px 5px;
  padding: 5px 5px;
  text-align: center;
}
.color-selector{
  margin: 5px 5px;
  padding: 5px 5px;
}
.players {
  padding-bottom: 20px;
}

.board {
  position: relative;
  width: 100px;
  margin-left: 50px;
}

.edge {
  background-color: BlanchedAlmond ;
  position: absolute;
}
.side-edge {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  transform: rotate(90deg)
]}

.left-edge {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.right-edge {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}


.vertex {
  border-radius: 50%;
  position: absolute;
  background-color: BlanchedAlmond;
}
.hex {
  position: absolute;
}

img {
  width: 140px;
  height: auto;
  background-color: transparent;
}
.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.wool .probability{
  background-color: Green;
}
.lumber .probability{
  background-color: Brown;
}
.desert .probability{
  background-color: Yellow;
}
.brick .probability{
  background-color: Red;
}
.grain .probability{
  background-color: Gold;
}
.ore .probability{
  background-color: Silver;
}
.probability {
  border-radius: 50%;
  position: absolute;
/*  background-color: Bisque;
*/  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
/*  top:30;
*/}