
.leftboard {
  width: 25%;
  height: 100%;
  float: left;
  background-color: Silver;
}

.rightboard {
  width: 75%;
  height: 100%;
  float: right;
  background-color: Blue;
}

.name {
  font-size: 20px;
  font-family: "Helvetica";
}