
.leftboard {
  width: 25%;
  height: 100%;
  float: left;
  background-color: Silver;
}

.rightboard {
  width: 75%;
  height: 100%;
  float: right;
  background-color: Blue;
}

.name {
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin: 5px 25%;
}
.waiting {
  text-align: center;
}

.start {
  text-align: center;
  margin: 5px 25%;
}
.center {
  text-align: center;
}

.color-picker{
  margin: 5px 5px;
  padding: 5px 5px;
  text-align: center;
}
.color-selector{
  margin: 5px 5px;
  padding: 5px 5px;
}