{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<link rel="stylesheet" type="text/css" href="login.css">

<div class="container">
  <h1 style="text-align:center">Setlers of Catan</h1>

  <h2 style="text-align:center">Sign Up</h2>
  {% from "_formhelpers.html" import render_field %}

  <form method="POST" action="/create_account">
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </form>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}