{%extends "layouts/base.html"%}
{%block body%}
<script type="text/javascript" src={{url_for('static', filename="js/board.js")}}></script>
<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/board_styles.css")}}>
<div class="game">
  <div class="leftboard">
    <div class="players">
      <h1 class="center">Players</h1>
      {%for p in players%}
      <div  {%if p == current_player%} class="name current-player" {%else%} class="name" {%endif%} style="background-color:{{p.color}}" >
        {{p.user.name}}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="rightboard">
    <div id="edges" class="board">
      {%for r in road_strings%}
        <div id={{r[1]}} class={%if r[0][0] == r[0][2]%}"edge side-edge"{%elif r[0][1] < r[0][3]%}"edge left-edge"{%else%}"edge right-edge"{%endif%}>
        </div>
      {%endfor%}
    </div>
    <div id="verticies" class="board">
      {%for s in vertex_strings%}
        <div id={{s}} class="vertex">
        </div>
      {%endfor%}
    </div>
    <div id="hexes" class="board">
    </div>
  </div>
</div>
{%endblock%}