{%extends "layouts/base.html"%}
{%block body%}
<script type="text/javascript" src={{url_for('static', filename="js/prestart.js")}}></script>
<link rel="stylesheet" type="text/css" href="/static/css/board_styles.css">
<div class="waiting">
  {%for p in players%}
  <div class="name" style={{"background-color:"+p.color}} >
    {{p.user.name}}
  </div>
  {% endfor %}
  <button class="btn btn-primary start" onclick="start_game({{game_id}})" {%if players|length <2%} disabled {%endif%}>
    Start Game
  </button>
</div>
{%endblock%}